@page "/about"
<h3>Попов Иван</h3>
<h3>ИДБ-21-03(Б)</h3>
<h3>Вариант 12</h3>
<h4>Условия: Наличие строчных и прописных букв, а также цифр</h4>
<h4>Потоковое шифрование, нет рандомных значений, хеширование SHA1</h4>

