@page "/registration"
@using NewTechLab.DTOs
@inject NavigationManager _manager
@inject User _user
<div style="width:100%; height:100%">
    <MudPaper Class="pa-8" Style="max-width:fit-content;margin:auto;margin-top:15%" Square="true">
        <h3>Смена пароля при первом входе</h3>
        <MudTextField Value="_user.Login" ReadOnly="true" Label="Логин"></MudTextField>
        <MudTextField @bind-Value="@Password" ErrorText="Неправильный пароль" Label="Пароль" Error="PasswordError"></MudTextField>
        <MudTextField @bind-Value="@Password" ErrorText="Неправильный пароль" Label="Подтвердите пароль" Error="PasswordError"></MudTextField>
            <MudButton Color="Color.Default" OnClick="OnEnterButtonClicked">Войти</MudButton>
    </MudPaper>
</div>

@code {
    public string Password { get; set; }
    public bool LoginError { get; set; }
    public bool PasswordError { get; set; }
    public async Task OnEnterButtonClicked()
    {
        using (var client = new HttpClient())
        {
            var response = await client.PostAsJsonAsync<LoginRequest>("http://localhost:5282/Users", new LoginRequest() { Login = _user.Login, Password = Password });
            User user = await response.Content.ReadFromJsonAsync<User>();
            Console.WriteLine(response.StatusCode);
            if (user != null)
            {
                _user.Login = user.Login;
                _user.Password = user.Password;
                _user.RegistrationDateTime = user.RegistrationDateTime;
                _user.Id = user.Id;
                _manager.NavigateTo("/home");
            }
            else
            {
                PasswordError = true;
            }
        }
    }
}
