@inherits LayoutComponentBase
<MudThemeProvider />
<MudPopoverProvider />
<div class="page">

    <main>
        <div class="top-row px-4">
            <p style="margin-bottom:0px">Основы новых информационных технологий</p>
        </div>

        <article>
            @Body
        </article>
    </main>
</div>
