@using NewTechLab.DTOs
@inherits LayoutComponentBase
@inject User user
<MudThemeProvider />
<MudPopoverProvider />
<div class="page">
    <main>
        <div class="top-row px-4" style="justify-content:space-between">
            @if (user != null)
            {
                @if (user.Login != "ADMIN")
                {
                    <MudMenu AnchorOrigin="Origin.BottomLeft" Label="Меню">
                        <MudMenuItem Href="/home">Главная</MudMenuItem>
                        <MudMenuItem Href="/changepassword">Сменить пароль</MudMenuItem>
                        <MudMenuItem Href="/about">Об авторе</MudMenuItem>
                        <MudMenuItem Href="/" OnClick="@(()=>user = new User())">Выйти из учетной записи</MudMenuItem>
                    </MudMenu>
                }
                else
                {
                    <MudMenu AnchorOrigin="Origin.BottomLeft" Label="Меню">
                        <MudMenuItem Href="/home">Главная</MudMenuItem>
                        <MudMenuItem Href="/changepassword">Сменить пароль администратора</MudMenuItem>
                        <MudMenuItem Href="/adminpanel">Управление пользователями</MudMenuItem>
                        <MudMenuItem Href="/about">Об авторе</MudMenuItem>
                        <MudMenuItem Href="/" OnClick="@(()=>user = new User())">Выйти из учетной записи</MudMenuItem>
                    </MudMenu>
                }
            }
            <p style="margin-bottom:0px">Лаба по защите информации</p>
        </div>

        <article>
            @Body
        </article>
    </main>
</div>
@code
{

}